@font-face {
  font-family: 'Fontin';
  src: local('Fontin'), url("../assets/font/Fontin.otf") format("opentype");
}

:root {
  --black: #000;
  --text: #a38d6d;
  --prim: #e9cf9f;
  --alt: #5a3806;
  --white: #fff;
  --gray: #0e0f10;
  --lightGray: #1e2124;
  --blue: #00b6ff;
  --red: #ff0000;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fontin', sans-serif;
  outline: none;
  border: none;
  background: none;
  text-decoration: none;
  color: var(--text);
  list-style: none;
  transition-property: color, background-color, transform, opacity;
  transition-duration: .3s;
}

body {
  min-height: 100dvh;
  background: var(--black) url("../assets/images/background_affliction.jpg") no-repeat top center fixed;
  background-size: contain;
}

