.home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100dvh - 150px);

  &_wrapper {
    border: 1px var(--white) solid;
    background-color: var(--gray);
    padding: 15px 10px;
    min-width: 200px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &_link{
    color: var(--blue);
  }
}
